.btn {
	background: transparent;
	height: 48px;
	font-weight: bold;
	cursor: pointer;
	padding: 0 20px;
	text-decoration: none;
	display: inline-flex;
	align-items: center;
	border: none;
}

.btn-outline {
	border: 2px solid currentColor;
}

.btn-rounded {
	border-radius: 24px;
}

.btn-rounded-full {
	border-radius: 50%;
}

.btn-primary {
	color: var(--primary);
}

.btn-primary:hover {
	background: var(--primary);
	color: var(--ligth);
	border-color: var(--primary);
}

.btn-link {
	padding: 0 10px;
}
