:root {
	--primary: #36b37e;
	--secondary: #f9fbfe;
	--success: #e6f8fb;
	--warning: #faad13;
	--danger: #e95432;
	--dark: #183b56;
	--info: #1565d8;
	--ligth: #fff;
	--font: 'Open Sans', sans-serif;
	--font-secondary: 'HK Grotesk', sans-serif;
}

* {
	box-sizing: border-box;
}

body {
	font-family: var(--font);
	color: var(--dark);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-secondary);
	margin: 0;
}

p {
	margin: 0;
}

a {
	text-decoration: none;
	color: var(--primary);
}

a:hover {
	color: var(--blue);
}
