.workflow {
	padding: 100px 0;
}

.workflow__content {
	text-align: center;
	margin-bottom: 56px;
}

.workflow-item {
	padding: 15px;
	background: #dedede;
	margin-bottom: 15px;
	height: 100%;
	text-align: center;
	border-radius: 16px;
}

.workflow-item_blue {
	background: #e5f8fb;
	color: var(--info);
}

.workflow-item_green {
	background: #ebf7f2;
	color: var(--primary);
}

.workflow-item_red {
	background: #fdeeea;
	color: var(--danger);
}

.workflow-item__title {
	font-size: 24px;
	color: var(--dark);
}

.workflow-item__icons {
	margin-top: 28px;
	display: flex;
	justify-content: center;
}

.workflow-item__icon {
	width: 56px;
	height: 56px;
	flex-shrink: 0;
	margin: 0 12px;
	border: 2px solid;
	border-radius: 50%;
}

@media screen and (min-width: 1200px) {
	.workflow-item {
		padding: 48px;
		margin-bottom: 0px;
	}
}
