.workflow {
	padding: 36px 0;
}

.workflow__content {
	text-align: center;
	margin-bottom: 36px;
}

.workflow-item {
	padding: 22px 0px 28px;
	background: #dedede;
	margin-bottom: 15px;
	/* height: 100%; */ /* not working margins */
	text-align: center;
	border-radius: 16px;
}

.workflow-item:not(:last-child) {
	margin-bottom: 20px;
}

.workflow-item_blue {
	background: #e5f8fb;
	color: var(--info);
}

.workflow-item_green {
	background: #ebf7f2;
	color: var(--primary);
}

.workflow-item_red {
	background: #fdeeea;
	color: var(--danger);
}

.workflow-item__title {
	font-size: 22px;
	line-height: 1.45;
	color: var(--dark);
}

.workflow-item__icons {
	margin-top: 28px;
	display: flex;
	justify-content: center;
}

.workflow-item__icon {
	width: 40px;
	height: 40px;
	flex-shrink: 0;
	margin: 0 10px;
	border: 2px solid;
	border-radius: 50%;
}

@media screen and (min-width: 768px) {
	.workflow {
		padding: 80px 0;
	}
}

@media screen and (min-width: 1200px) {
	.workflow {
		padding: 100px 0;
	}

	.workflow__content {
		margin-bottom: 56px;
	}

	.workflow-item {
		padding: 48px;
		margin-bottom: 0px;
	}

	.workflow-item__icon {
		width: 56px;
		height: 56px;
		margin: 0 12px;
	}

	.workflow-item__title {
		font-size: 24px;
	}
}
